* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 14pt;
    background: none;
    color: rgb(16, 19, 21);
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    background-color: rgb(193, 217, 242);
}

body {
    background-color: rgb(193, 217, 242);
    color: rgb(16, 19, 21);
}

header {
    background-color: rgb(135, 182, 240);
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 48pt;
    text-align: center;
}

/* Create two columns/boxes that float next to each other */
.filters {
    float: left;
    width: 15%;
    background-color: rgb(226, 233, 241);
    padding: 20px;
    height: 50vh;
    margin: 1%;
}

/* Style the list inside the menu */
.filters ul {
    list-style-type: none;
    padding: 0;
}

/* Space out the table links */
.filters li {
    margin-bottom: 10px;
}

/* Style the table links */
.filters a, .filters a:visited {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: rgb(51, 61, 67);
}

/* Add hover effect to table links */
.filters a:hover {
    background-color: rgb(135, 182, 240);
    color: rgb(32, 38, 42);
}

/* Add active/current page effect to table links */
.filters a.active {
    background-color: rgb(83, 132, 207);
    color: rgb(16, 19, 21);
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

.content {
    box-sizing: border-box;
    float: right;
    width: 75%;
    height: 75vh;
    background-color: rgb(226, 233, 241);
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 1%;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;  /* Add this line to make the table a containing block for the sticky headers */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(226, 233, 241);
}

th {
    background-color: rgb(135, 182, 240);
    color: rgb(16, 19, 21);
    position: sticky;  /* Add this line to make the headers sticky */
    top: 0;  /* Add this line to specify the distance from the top where the headers will stick */
    z-index: 1;  /* Add this line to make the headers appear above the table cells */
}

/* Style the footer */
footer {
    background-color: rgb(135, 182, 240);
    text-align: center;
    padding: 10px;
}

/* Style the top navigation */
.top-nav {
    background-color: rgb(124, 168, 222);
    text-align: center;
    padding: 10px;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-nav li {
    display: inline;
    margin: 0 10px;
}

.top-nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(124, 168, 222);
    color: rgb(34, 40, 45);
}

.top-nav a:hover {
    background-color: rgb(109, 152, 204);
    color: rgb(23, 28, 31);
}

.top-nav a:active {
    background-color: rgb(98, 134, 178);
    color: rgb(9, 12, 13);
}

#map {
    height: 75vh;
}