<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The dashboard will allow users to explore and analyze the data based on different filters, enabling them to gain insights and make data-driven decisions.">
        <meta name="keywords" content="Fifa, Analytics, Dashboard">
        <meta name="author" content="xlivia">
        <meta name="robots" content="index, follow">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>UofT Data Analytics Bootcamp Project 3</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Fifa Analytics Dashboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Overall</th>
                    <th>Club</th>
                    <th>Nationality</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ player.long_name }}</td>
                    <td>{{ player.age }}</td>
                    <td>{{ player.overall }}</td>
                    <td>{{ player.club }}</td>
                    <td>{{ player.nationality }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    </body>
</html>