<!DOCTYPE html>
<html>
    <head>
        <title>UofT Data Analytics Bootcamp Project 3</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Fifa Analytics Dashboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Overall</th>
                    <th>Club</th>
                    <th>Nationality</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ player.long_name }}</td>
                    <td>{{ player.age }}</td>
                    <td>{{ player.overall }}</td>
                    <td>{{ player.club }}</td>
                    <td>{{ player.nationality }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    </body>
</html>